<div class="card" style="width: 18rem;">
    {% if obj.image %}
    <img src="{{obj.image.url}}" class="card-img-top" alt="{{obj.name}}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{obj.name}}</h5>
      <p class="card-text">{{obj.description|truncatewords:15}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Popularity: {{obj.rating}}</li>
      <li class="list-group-item">Born: {{obj.birthDate}}</li>
      {% if obj.deathDate %}<li class="list-group-item">Died: {{obj.deathDate}}</li>{% endif %}
    </ul>
    <div class="card-body">
      <a href="{{obj.get_abs_url}}" class="card-link">View</a>
    </div>
  </div>